{% load static %}
<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'post/css/custom.css' %}">
</head>

<body>
    <div class="container">
        <h4 class="logo center-align">Authorium</h4>
        <div id="navcontainer">
            <ul>
                <li>
                    <a href="#">NewsFeed</a>
                </li>
                <li>
                    <a href="#">Write</a>
                </li>
                <li>
                    <a href="#">MyPost</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>
        </div>
        {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>